vaultguard-backend/__pycache__/bank_service.cpython-311.pyc
vaultguard-backend/__pycache__/config.cpython-311.pyc
vaultguard-backend/__pycache__/main.cpython-311.pyc
vaultguard-backend/__pycache__/main.cpython-311.pyc
vaultguard-frontend/node_modules
vaultguard-backend/__pycache__/ml_models.cpython-311.pyc
.env